---
import { Image } from "astro:assets"

import akshat from "./images/akshat.jpg"
import kanishk from "./images/kanishk.jpg"
import vivek from "./images/vivek.jpg"
// import shivamy from "./images/shivamy.jpeg"
import mayank from "./images/mayank.jpg"
// import shivambh from "./images/shivambh.png"
import utkarsh from "./images/utkarsh.jpg"
import anshika from "./images/anshika.jpg"
import abhinav from "./images/abhinav.jpeg"
import aditya from "./images/aditya.jpg"
import vishesh from "./images/vishesh.png"
import rajvardhan from "./images/rajvardhan.jpeg"
import sam from "./images/sam.jpg"

const organisers = [
  { name: "Akshat", image: akshat },
  { name: "Kanishk", image: kanishk },
  { name: "Vivek", image: vivek },
  // { name: "Shivam Yadav", image: shivamy },
  { name: "Mayank", image: mayank },
  // { name: "Shivam Bhardwaj", image: shivambh },
  { name: "Utkarsh", image: utkarsh },
  { name: "Anshika", image: anshika },
  { name: "Abhinav", image: abhinav },
  { name: "Aditya", image: aditya },
  { name: "Utkarsh", image: utkarsh },
  { name: "Vishesh", image: vishesh },
  { name: "Rajvardhan", image: rajvardhan },
  { name: "sam", image: sam },
]
---

<section id="organisers" class="rows">
  <div>
    <h2>Organisers</h2>
  </div>
  <div class="grid">
    {
      organisers.map((organiser) => {
        return (
          <div class="organiser">
            <div class="container">
              <Image src={organiser.image} alt={organiser.name} width={200} />
            </div>
            {organiser.name}
          </div>
        )
      })
    }
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--yellow);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  @media screen and (min-width: 600px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media screen and (min-width: 900px) {
    .grid {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  .organiser {
    text-align: center;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
</style>
