<section id="about" class="rows">
  <div>
    <h2>
      What is <br /> FOSSConf?
    </h2>
  </div>
  <div>
    <p>
      FOSSConf 2023 stands as a beacon of collaboration and knowledge sharing
      among the developer community in Delhi. Crafted by open sourcers, for open
      sourcers, the conference delivers a rich tapestry of topics that range
      from the foundational aspects like Linux, databases, and open-source
      contributions to the contemporary like web3, blockchains, AI/ML, and
      cybersecurity.
    </p><p>
      Join us to connect, collaborate, and catalyze change in the open-source community!
    </p>
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--red);
  }
</style>
