<section id="about" class="rows">
  <div>
    <h2>
      What is <br /> FOSSConf?
    </h2>
  </div>
  <div>
    <p>
      FOSSConf 2023 stands as a beacon of collaboration and knowledge sharing
      among the developer community in Delhi. This free, one-day event attracts
      over two hundred tech enthusiasts and is characterized by its commitment
      to promoting open-source ideologies. Crafted by open sourcers, for open
      sourcers, the conference delivers a rich tapestry of topics that range
      from the foundational aspects like Linux, databases, and open-source
      contributions to the contemporary like web3, blockchains, and
      cybersecurity.
    </p><p>
      Delving deeper into the tech realm, past discussions have spanned across
      dependency management, verifiable computing, hardware version control, and
      internet scanning. For those inclined towards algorithmic challenges,
      compilers, and interpreters, we've got you covered. On the other hand,
      aficionados of machine learning, statistics, and orchestration find their
      niche here. From the intricate realms of authentication to the vast
      expanse of cybersecurity, FOSSConf encapsulates it all, making it a
      must-attend for every tech enthusiast out there. Join us to connect,
      collaborate, and catalyze change in the open-source community!
    </p>
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--red);
  }
</style>
