<section id="cfp" class="rows">
  <div>
    <h2>
        Diversity <br /> at FOSSConf!
    </h2>
  </div>
  <div>
    <p>
        FOSSConf values diversity as both a belief and a driving force. We champion a community where everyone, regardless of background, feels welcomed and can thrive. Diversity propels our mission, fostering innovation, creativity, and understanding.
    </p>
    <p>
        <a href="https://airtable.com/appIfaAvXmSiqBahO/shrbwAjkeTdaTYyJY"><b>👉Join Our Diversity and Inclusion Group</b></a><br />
      If you identify with an underrepresented group in tech, we invite you to join our Diversity and Inclusion Group. <br/>
    </p>
  </div>
</section>

<style>
  section {
    margin-top: 3.5rem;
  }
  h2 {
    --stroke-color: var(--yellow);
  }
</style>
