---
 
---

<section id="faq" class="columns">
    <h2>FOSSConf23 FAQ</h2>
    
    <p>Join us on <strong>November 25th - 26th, 2023</strong> in Delhi NCR, India, with a virtual mode for the Hackathon. Here are the answers to some common queries:</p>
    
    <ul>
        <li><strong>What is FOSSConf23?</strong>
            <p>It's the Free and Open Source Software Conference for 2023. The event spans over two days and is filled with talks, workshops, networking sessions, and a virtual hackathon. Check out more at our official website.</p>
        </li>
        <li><strong>Who organizes FOSSConf23?</strong>
            <p>FOSSCU, a non-profit passionate about promoting open source software. Get to know us better at <a href="https://fosscu.org">fosscu.org</a>.</p>
        </li>
        <li><strong>Where and when is the event?</strong>
            <p>It's happening on November 25th and 26th, 2023, in Delhi NCR, India. However, the hackathon is virtual.</p>
        </li>
        <li><strong>Want to sponsor FOSSConf23?</strong>
            <p>If you're keen, please reach out to our sponsorship team through our website's contact details.</p>
        </li>
        <li><strong>Is there a code of conduct?</strong>
            <p>Yes, everyone attending FOSSConf23 must adhere to our code of conduct. Familiarize yourself with it <a href="/coc">here</a>.</p>
        </li>
        <li><strong>How to be a speaker at FOSSConf23?</strong>
            <p>We'd love to hear from you! Submit your proposal <a href="https://sessionize.com/fossconf-2023/">here</a> before 05 Nov 2023.</p>
        </li>
        <li><strong>Want to volunteer for FOSSConf23?</strong>
            <p>Awesome! Please <a href="https://airtable.com/appyqESu1jTLyRj5b/shrADLMpduaaLPS9R">sign up here</a>.</p>
        </li>
        <li><strong>How to stay updated with FOSSConf23?</strong>
            <p>Follow our social media channels and frequently visit our official website for the latest.</p>
        </li>
    </ul>
</section>