---
---

<section id="coc" class="rows">
    <div>
      <h2>Tickets</h2>
    </div>
    <div>
      <h3>Normal Ticket</h3>
      <p>Welcome to the Normal Pass experience at FOSSConf23! Crafted for the open source enthusiast, this ticket ensures you full access to a day filled with innovation, learning, and networking.</p>
      <ul>
        <li>Unrestricted entry to all keynotes and sessions.</li>
        <li>Access to workshops and breakout zones.</li>
        <li>Opportunity to interact with speakers and industry leaders.</li>
        <li>Grab your official FOSSConf23 swag and event materials.</li>
        <li>Complimentary refreshments and meals during the event.</li>
        <li>First-hand exposure to the latest in open source technologies and culture.</li>
        <li>Networking opportunities with a diverse audience of developers, system administrators, community managers, and enthusiasts.</li>
      </ul>
      
      <h3>Student Ticket</h3>
      <p>This ticket is tailored for passionate students eager to dive deep into the latest in open-source technologies, network with professionals, and amplify their learning experience.</p>
      <strong>Eligibility:</strong>
      <p>To avail of the Student Ticket, attendees must be currently enrolled in a recognized school, college, or university.</p>
      <strong>Verification:</strong>
      <p>To ensure this special pricing is extended only to eligible students, a valid School ID or official proof of enrollment is mandatory during the registration process. Please have your School ID or an equivalent document ready for verification when prompted. Failure to provide valid proof may lead to the cancellation of your ticket without a refund.</p>
      <strong>Benefits:</strong>
      <ul>
        <li>Exclusive access to all main events, sessions, and workshops.</li>
        <li>Opportunity to network with professionals, developers, and open-source enthusiasts.</li>
        <li>Special discounts on official FOSSConf merchandise.</li>
        <li>A unique platform to share ideas, and projects, and gain feedback.</li>
      </ul>
      <div style="border-radius: 25px; overflow: hidden; backdrop-filter: blur(10px); opacity: 0.8;">
        <iframe src="https://konfhub.com/widget/fossconf" id="konfhub-widget" title="Register for FOSSConf 2023" width="100%" height="500"></iframe>
      </div>
      <div>
        Alternatively you can also use <a href="https://konfhub.com/checkout/fossconf">This Link</a> to book your Tickets.
      </div>
    </div>
  </section>
  
  <style>
    h2 {
      --stroke-color: var(--green);
    }
    li,
    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    h3 {
      color: var(--green);
      font-family: var(--title-font);
      font-size: 3rem;
    }
  </style>
  