---
---
<section id="coc" class="rows">
    <div>
      <h2>
        Venue Guide
      </h2>
    </div>
    <div>
      <p>
        We are thrilled to host this year's FOSSConf at the prestigious Indraprastha Institute of Information Technology, Delhi (IIIT-D). Nestled in the heart of New Delhi, IIIT-D offers a blend of modern facilities and serene ambiance, making it an ideal location for our gathering of free and open source software enthusiasts.
      </p>
      
      <p class="venue-address">Indraprastha Institute of Information Technology, New Delhi<br/></p>
        <p><a href="https://maps.app.goo.gl/BNhnth1W6Y79gb2U9" target="_blank">Address: Okhla Industrial Estate, Phase III, near Govind Puri Metro Station, New Delhi, Delhi 110020</a></p>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1867.7612686065374!2d77.27146048817957!3d28.54596399244771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3e564daac1d%3A0x2c582e340e7bc556!2sIndraprastha%20Institute%20of%20Information%20Technology%20Delhi!5e0!3m2!1sen!2sin!4v1699645815272!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      <p>Our venue is easily accessible by various modes of transportation, ensuring a hassle-free experience for all attendees. Whether you are flying in, taking the metro, or arriving by train or bus, reaching IIIT-D is convenient and straightforward.</p>
      <div>
        <h3 class="section-heading">How to Reach</h3>
        <ul>
            <li>&#9992 Air Travel: Nearest airport is <a href="https://maps.app.goo.gl/iCjzVf4SjrCrz4RS6">Indira Gandhi International Airport (IGI)</a></li>
            <li>&#128647 Metro: Closest metro station is Govindpuri on the Violet Line</li>
            <li>&#128646 Railway: Nearest railway station is Okhla</li>
            <li>&#x1f68c Bus Service: Delhi Transport Corporation (DTC) bus services available</li>
        </ul>
    </div>
    <div>
        <h3 class="section-heading">Conference Halls</h3>
        <p>At FOSSConf, you'll find two dedicated conference halls. Both halls are equipped with state-of-the-art facilities to enhance your conference experience.</p>
            <li>Track 1: For keynotes, panels, and talks.</l>
            <li>Track 2: Dedicated for talks.</li>
        <p>More details to be provided soon.</p>
    </div>
    <div>
        <h3 class="section-heading">Guidelines and Rules</h3>
        <p class="important-info">We are committed to providing a respectful and inclusive environment for everyone. As such, we request all attendees to adhere to our <a href="/coc">Code of Conduct</a>.</p>
    </div>
    <div>
        <h1>Hosting Partner</h1>
        <p>
            A big thanks to our hosting partner, <a href="https://gdsc.iiitd.edu.in/">IIIT GDSC</a>, for their support in making this event possible.
        </p>
        <a href="https://gdsc.iiitd.edu.in/"><img src="/images/iiitdelhi.svg" alt="IIIT GDSC Logo" class="partner-logo" /></a>
    </div>

    </div>
  </section>
  </section>

  <style>
    .venue-address {
      color: var(--green);
      font-weight: bold;
    }
    .important-info {
      color: var(--red);
    }
    .section-heading {
      color: var(--blue);
      font-weight: bold;
    }
    .partner-logo {
    width: 450px;
    height: auto;
  }
    h2 {
      --stroke-color: var(--green);
    }
    li,
    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    h3 {
      color: var(--green);
      font-family: var(--title-font);
      font-size: 3rem;
    }
  </style>