---
import { panelists } from "@src/data/schedules/current"
import { year } from "@src/data/date"
import Panelists from "./Panelists.svelte"
---

<section id="panelists" class="rows">
  <div>
    <h2>
      Panelists
    </h2>
  </div>
  <h3>Breaking Barriers: Women Redefining Tech</h3><br/>
  <div class="grid">
    <Panelists panelists={panelists} client:visible />
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--red);
  }

  h3 {
  font-size: 2.5rem;
  color: var(--green);
  line-height: 1.5;
  margin-bottom: 0.15em;
}
  .grid {
    --columns: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: 1rem;
  }

  @media screen and (min-width: 960px) {
    .grid {
      --columns: 3;
    }
  }
</style>
