<hr class="custom-hr">
<div class="header-container">
    <a href="/schedule" class="header-link">
      <h1>Schedule</h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 24 24">
        <path stroke="#54c9b3" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m13 11 8.2-8.2m.8 4V2h-4.8M11 2H9C4 2 2 4 2 9v6c0 5 2 7 7 7h6c5 0 7-2 7-7v-2"/>
      </svg>
    </a>
</div>
<hr class="custom-hr">
  
  <style>
    .custom-hr {
      border: 0;
      height: 5px;
      background: #43af9b4d;
      width: 50%;
      margin: 0 auto 50px;
    }
    .header-container {
      text-align: center;
      margin: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header-link {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .header-link h1 {
      margin: 0;
    }
  </style>
  