---
import Tweets from "./Tweets.astro"
const tweetUrls = [
  "https://twitter.com/twtutkarsh/status/1662139181781639168",
  "https://twitter.com/CodeItShivam/status/1630111157376942081",
  "https://twitter.com/harshverma0502/status/1705834735380103194",
  "https://twitter.com/gauravparashar2/status/1621902807816359936",
  "https://twitter.com/PrabhatKum8569/status/1705866260381348060",
]
---

<section id="testimonials" class="rows">
  <div>
    <h2>What People Say</h2>
  </div>
  <div class="tweet-container" style={`--num-tweets: ${tweetUrls.length};`}>
    <Tweets urls={tweetUrls} />
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--blue);
  }

  .tweet-container {
    display: grid;
    grid-template-columns: repeat(var(--num-tweets), 1fr);
    gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
</style>
