---
import { Image } from 'astro:assets';

import Divv from './images/Divv.jpeg';
import Aashima from './images/Aashima.jpeg';
import Amisha from './images/Amisha.jpeg';
import Akaash from './images/Akaash.jpeg';
import ananya from './images/ananya.png';
import Antonio from './images/Antonio.jpeg';
import Anuj from './images/Anuj.png';
import Anurag from './images/Anurag.jpeg';
import Atharva from './images/Atharva.jpeg';
import Devansh from './images/Devansh.jpeg';
import harsh from './images/harsh.jpeg';
import Himanshu from './images/Himanshu.jpeg';
import Kanishka from './images/Kanishka.jpeg';
import Manish from './images/Manish.jpeg';
import Mridula from './images/Mridula.jpeg';
import Nimish from './images/Nimish.jpeg';
import Paarth from './images/Paarth.jpeg';
import palak from './images/palak.jpeg';
import pratyush from './images/pratyush.jpeg';
import purva from './images/purva.jpeg';
import riya from './images/riya.jpeg';
import Saptarshi from './images/Saptarshi.jpeg';
import unnati from './images/unnati.png';
import Vikshita from './images/Vikshita.jpeg';

const organisers = [
  { name: 'Divv', image: Divv, socialUrl: 'https://twitter.com/Divvstwt' },
  { name: 'Aashima', image: Aashima, socialUrl: '' },
  { name: 'Amisha', image: Amisha, socialUrl: '' },
  { name: 'Akaash', image: Akaash, socialUrl: '' },
  { name: 'ananya', image: ananya, socialUrl: 'https://twitter.com/aanniejain' },
  { name: 'Antonio', image: Antonio, socialUrl: '' },
  { name: 'Anuj', image: Anuj, socialUrl: '' },
  { name: 'Anurag', image: Anurag, socialUrl: '' },
  { name: 'Atharva', image: Atharva, socialUrl: 'https://www.instagram.com/atharva_sachan_' },
  { name: 'Devansh', image: Devansh, socialUrl: '' },
  { name: 'harsh', image: harsh, socialUrl: '' },
  { name: 'Himanshu', image: Himanshu, socialUrl: '' },
  { name: 'Kanishka', image: Kanishka, socialUrl: '' },
  { name: 'Manish', image: Manish, socialUrl: '' },
  { name: 'Mridula', image: Mridula, socialUrl: '' },
  { name: 'Nimish', image: Nimish, socialUrl: '' },
  { name: 'Paarth', image: Paarth, socialUrl: 'https://www.instagram.com/official.paarth' },
  { name: 'palak', image: palak, socialUrl: '' },
  { name: 'pratyush', image: pratyush, socialUrl: '' },
  { name: 'purva', image: purva, socialUrl: '' },
  { name: 'riya', image: riya, socialUrl: 'https://twitter.com/Riyaaa_Garg' },
  { name: 'Saptarshi', image: Saptarshi, socialUrl: 'https://twitter.com/saptarshi_021' },
  { name: 'unnati', image: unnati, socialUrl: '' },
  { name: 'Vikshita', image: Vikshita, socialUrl: '' },
];
---

<section id="organisers" class="rows">
  <div>
    <h2>Volunteers</h2>
  </div>
  <div class="grid">
    {
      organisers.map((organiser) => {
        return (
          <a href="">
            <div class="organiser">
              <div class="container">
                <Image src={organiser.image} alt={organiser.name} width={200} />
              </div>
              {organiser.name}
            </div>
          </a>
        );
      })
    }
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--yellow);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  @media screen and (min-width: 600px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media screen and (min-width: 900px) {
    .grid {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  .organiser {
    text-align: center;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
</style>
