---
import { Image } from 'astro:assets';
import Osdc from './logos/osdc.png';
import Ocd from './logos/ocd.png';
import AssetMantle from './logos/assetmantle.svg';
import GDSC from '../../../../public/images/iiitdelhi.svg';

const partners: any[] = [
  {
    name: 'OCD',
    images: Ocd,
    link: 'https://ocd-india.github.io/',
  },
  {
    name: 'AssetMantle',
    images: AssetMantle,
    link: 'https://www.assetmantle.one/',
  },
  {
    name: 'OSDC',
    images: Osdc,
    width: '280px',
    link: 'https://osdc.dev',
  },
  {
    name: 'GDSC',
    images: GDSC,
    link: 'https://gdsc.iiitd.edu.in/',
  },
  
];
---

{
  partners.length > 0 ? (
    <section id="partners" class="rows">
      <div>
        <h2>Community Partners</h2>
      </div>
      <div class="partners">
        {partners.map(({ name, images, width, link }) => (
          <a href={link} class="partner-item">
            <Image src={images} width={width} alt={name} />
          </a>
        ))}
      </div>
    </section>
  ) : null
}

<style>
  h2 {
    --stroke-color: var(--red);
  }
  .partners {
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .partner-item {
    margin-bottom: 1rem;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    .partners {
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 960px) {
    .partners {
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 767px) {
    .partners {
      justify-content: center;
    }
  }
  img {
    margin: 0;
    height: fit-content;
    max-width: 100%;
    width: fit-content;
  }
</style>
