---
import { Image } from 'astro:assets';

import Web3commune from './logos/web3commune.png';
import AssetMantle from './logos/assetmantle.svg'

const partners: any[] = [
  {
    name: 'Web3commune',
    images: Web3commune,
    width: 420,
    link: '/',
  },
  {
    name: 'AssetMantle',
    images: AssetMantle,
    width: 420,
    link: 'https://www.assetmantle.one/',
  },
];
---

{
  partners.length > 0 ? (
    <section id="partners" class="rows">
      <div>
        <h2>Community Partners</h2>
      </div>
      <div class="partners">
        {partners.map(({ name, images,width,  link }) => (
          <a href={link}>
            <Image src={images} width={width} alt={name} />
          </a>
        ))}
      </div>
    </section>
  ) : null
}



<style>
  h2 {
    --stroke-color: var(--red);
  }
  .partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  @media screen and (min-width: 768px) {
    .partners {
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 960px) {
    .partners {
      justify-content: space-between;
    }
  }
  img {
    margin: 0;
    max-width: 100%;
  }
</style>
