---
import { Image } from 'astro:assets';

import Web3commune from './logos/web3.png';
import AssetMantle from './logos/assetmantle.png';

const partners: any[] = [
  {
    name: 'Web3commune',
    images: Web3commune,
    link: '/',
  },
  {
    name: 'AssetMantle',
    images: AssetMantle,
    link: '/',
  },
];
---

{
  partners.length > 0 ? (
    <section id="partners" class="rows">
      <div>
        <h2>Community Partners</h2>
      </div>
      <div class="partners">
        {partners.map(({ name, images,  link }) => (
          <a href={link}>
            <Image src={images} alt={name} />
          </a>
        ))}
      </div>
    </section>
  ) : null
}
<style>
  h2 {
    --stroke-color: var(--red);
  }
  .partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  @media screen and (min-width: 768px) {
    .partners {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: 960px) {
    .partners {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  img {
    margin: 0;
    width: 100%;
    height: fit-content;
  }
</style>
