---
const streams = [
  {
    section: "FOSSConf",
    streams: [
      "https://www.youtube.com/embed/",
    ],
  },
  {
    section: "Barcamp",
    streams: [
      "https://www.youtube.com/embed/",
    ],
  },
]
---

<section id="live" class="rows">
  <div>
    <h2>Watch the Livestream</h2>
  </div>
  <div>
    {
      streams.map(({ section, streams }) => {
        return (
          <>
            <h3>{section}</h3>
            {streams.map((stream) => (
              <iframe
                style="max-width: 100%"
                width="560"
                height="315"
                src={stream}
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              />
            ))}
          </>
        )
      })
    }
  </div>
</section>
