---
import { Image } from 'astro:assets';
import ticket from "./ticket.png"
import { ticketLink } from "@src/data/links"
---

<section id="ticket" class="rows">
    <div>
        <h2>Registration</h2>
    </div>
    <div>
        <p>Thank you for your interest in FOSSConf23! The conference has ended, but we look forward to seeing you next year for another exciting open source event.</p>
        <p>If you have any inquiries or would like to stay updated about future events, feel free to reach out to us.</p>
        <p>We appreciate your support!</p>
    </div>
</section>