---
import Layout from "@src/layouts/Layout.astro"
import Diversity from "./_/Diversity.astro";
import Logo from "@src/components/Logo.astro"
import Line from "@src/components/hr.astro"
---

<div>
  <Line />
</div>
<Layout title="Diversity at FOSSConf 2023">
  <div style="margin-bottom: 50px;">
    <Logo />
   </div>
  <Diversity />

</Layout>