---
import Hero from "./_/Hero/index.astro"
import Layout from "@src/layouts/Layout.astro"
import About from "./_/About.astro"
import Schedule from "./_/Schedule/index.astro"
import Speakers from "./_/Speakers/index.astro"
import Penelists from "./_/Penelists/index.astro"
import Testimonials from "./_/Testimonials/index.astro"
import Sponsors from "./_/Sponsors/index.astro"
import Ticket from "./_/Ticket/index.astro"
import Partners from "./_/Partners/index.astro"
import Organisers from "./_/Organisers/index.astro"
import CallForPaper from "./_/CallForPaper.astro"
// import DiversityAndInclusion from "./_/DiversityAndInclusion.astro"
import * as cfp from "@src/data/cfp"
import { schedule, speakers, penelists } from "@src/data/schedules/current"
---

<Layout title="Home">
  <Hero />
  <About />
  {+Date.now() > +cfp.deadline ? null : <CallForPaper />}
  <!-- {schedule.dates.length > 0 ? <Live /> : null} -->
  <!-- {schedule.dates.length > 0 ? <Schedule /> : null} -->
  {speakers.length > 0 ? <Speakers /> : null}
  {penelists.length > 0 ? <Penelists /> : null}
  <Sponsors />
  <Ticket />
  <!-- <DiversityAndInclusion/> -->
  <Testimonials />
  <Partners />
  <Organisers />
  <!-- <div style="text-align: center; margin: 80px 0;">
    <a href="/organisers">
      <h3>People Behind the Scenes</h3>
    </a>
  </div> -->
</Layout>
