---
import Layout from "@src/layouts/Layout.astro"
import Index from "./_/Schedule/index.astro";
import Logo from "@src/components/Logo.astro"
import Line from "@src/components/hr.astro"
---

<div>
  <Line />
</div>
<Layout title="Schedule - FOSSConf 2023">
  
  <div style="margin-bottom: 50px;">
    <Logo />
  </div>
  <Index />

</Layout>
