---
import Layout from "@src/layouts/Layout.astro"
import Index from "./_/Organisers/index.astro";
import Volunteers from "./_/Volunteers/index.astro"
import Logo from "@src/components/Logo.astro"
import Line from "@src/components/hr.astro"
---

<div>
  <Line />
</div>
<Layout title="Team - FOSSConf 2023">
  
  <div style="margin-bottom: 50px;">
    <Logo />
  </div>
    <Index />
    <Volunteers />

</Layout>
