---
---

<div class="hr">
<hr />
</div>

<style>
  hr {
    width: 100%;
    background: url("/images/bgsquare.svg") repeat-x;
    height: 20px;
    outline: 0;
    border: none;
    margin: 0;
  }
</style>