@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
  color: #f9f6ee;
}

@layer components {
  .conducts-items {
    @apply mb-2;
  }
  .conducts-button {
    @apply block bg-[#5DB363] text-white font-Roboto lg:text-lg focus:ring-4 focus:outline-none focus:ring-[#5DB363] font-medium rounded px-5 py-2.5 text-center;
  }
  .logo-container {
    @apply p-2 bg-gray-200 md:bg-white my-2;
  }
  .logo-image-container {
    @apply sm:w-56 h-full flex justify-center items-center cursor-pointer hover:bg-gray-200 border-2;
  }
  .sponsor-container {
    @apply p-2 w-full md:w-1/4 lg:w-1/5 bg-gray-200 md:bg-white my-2;
  }
  .sponsor-image-container {
    @apply w-full h-full flex justify-center items-center cursor-pointer xl:hover:scale-110 transition duration-300;
  }
  .schedule-list-item {
    @apply flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center;
  }
  .schedule-time {
    @apply flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center shrink-0;
  }
  .schedule-text {
    @apply text-lg font-semibold;
  }
}

/* Add this CSS to your stylesheet */
.bubble-animation-down {
  display: inline-block;
  animation: bubble-down 2s ease-in-out infinite alternate;
}
.bubble-animation-up {
  display: inline-block;
  animation: bubble-up 2s ease-in-out infinite alternate;
}

@keyframes bubble-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes bubble-down {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Add this CSS to your stylesheet */
.glowing-line {
  position: relative;
  display: inline-block;
}

.glowing-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px; /* Adjust the space between heading and line as needed */
  width: 100%;
  height: 2px; /* Adjust the thickness of the line as needed */
  background: linear-gradient(45deg, #404b40, #00ffff, #0dff1c); /* Adjust colors as needed */
  background-size: 200% 200%;
  animation: glowing 3s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% -200%;
  }
}

.blur-image {
  filter: blur(1px);
}

.twitter-link {
  position: absolute;
  top: 36%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.linkedin-link {
  position: absolute;
  top: 36%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.twitter-link-speaker {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.linkedin-link-speaker {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.twitter-link:hover , .linkedin-link:hover, .twitter-link-speaker:hover, .linkedin-link-speaker:hover , .link-link-speaker:hover, .link-link:hover{
  opacity: 0.6;
}

.link-link-speaker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}
